@{
    ViewData["Title"] = "Sobre nosotros";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Práctica de ASP.NET con MVC, bootstrap y javascript sobre películas. CRUD de pelis con la creación de películas, editanto, mostrando y borrando.</p>
